{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'regexchecker/regex.css' %}">
<div class="my-5">
    <h3 class="mb-3">Custom Regex Checker</h3>
    <input type="text" id="custom" class="form-control" placeholder="Input string here">
    <input type="text" id="custom-regex" class="form-control my-2" placeholder="Input custom regex here">
    <h4>Flags:</h4>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="ignore-case">
        <label class="form-check-label" for="flexSwitchCheckDefault">Ignore case (i)</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="global">
        <label class="form-check-label" for="flexSwitchCheckDefault">Look for all matches (g)</label>
    </div>
    <button id="custom-submit" class="btn btn-success my-2">Check Regex</button>
    <hr class="mb-3">
    <h4>Result:</h4>
    <input type="text" id="custom-result" class="form-control" disabled>
</div>

<div class="my-5">
    <h3 >Check Valid IP Address</h3>
    <input type="text" id="ip" class="form-control" placeholder="Input IP here">
    <button id="ip-submit" class="btn btn-success my-3">Check IP</button>
    <hr class="mb-3">
    <h4>Result:</h4>
    <input type="text" id="ip-result" class="form-control" disabled>
</div>

<div class="my-5">
    <h3>Strong Password Check</h3>
    <form id="passcheckboi">
        <input type="text" id="password" class="form-control my-2" placeholder="Enter password here" min="3" pattern="[A-Z]">
    </form>
    <h4>Conditions:</h4>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="check-default">
        <label class="form-check-label" for="flexSwitchCheckDefault">Default check</label>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="check-length">
                <label class="form-check-label" for="flexSwitchCheckDefault">Set Minimum Password Length</label>
            </div>
        </div>
        <div class="col-1">
            <input id="pass-length" type="number" class="form-control" value="8">
        </div>
    </div>  
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="check-upper">
        <label class="form-check-label" for="flexSwitchCheckDefault">Check upper case chars</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="check-lower">
        <label class="form-check-label" for="flexSwitchCheckDefault">Check lower case chars</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="check-special">
        <label class="form-check-label" for="flexSwitchCheckDefault">Check special chars</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="check-numeric">
        <label class="form-check-label" for="flexSwitchCheckDefault">Check numeric chars</label>
    </div>
    <button id="password-submit" class="btn btn-success my-3">Check Password</button>
</div>

<script src="{% static 'regexchecker/regex.js' %}"></script>
{% endblock %}