#card{
    border-radius: 50px;
    background-color: rgb(2, 16, 80);
    border: solid;
    border-color: rgb(115, 187, 7);
}

#error{
    color:rgb(115, 187, 7);
}

.foreground{
    color: aliceblue;
}

hr{
    background-color: greenyellow;
}